* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Helvetica Neue', system-ui, -apple-system, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(180deg, #1a1a1a, #000000);
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  text-align: center;
}

h1 {
  font-size: 4em;
  text-transform: uppercase;
  text-shadow: 0px 0px 3px red;
  letter-spacing: 2px;
  color: red;
}

section {
  width: 100%;
  padding: 20px;
}

h2 {
  margin-bottom: 7px;
}

iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 16 / 9;
  height: 400px;
}

.movie-displayer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  padding: 5px;
  scrollbar-color: white transparent;
  scrollbar-width: thin;
}

.movie-link {
  user-select: none;
}

.movie-poster {
  height: 350px;
  outline: none;
  transition: outline .1s ease-in-out;
}

.movie-poster:hover {
  outline: white solid 3px;
}
